<main>
        <section class="section1">
        <h1>Your Products</h1>
        <div class="container justify-content-between">
            {{#each products}}
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card box">
                        <div class="card-body">
                            <img class="product-img" src="{{this.image_url}}" alt="">
                            <h5 class="card-title card-text">Product: <span class="user-product-info">{{this.name}}</span></h5>

                            <p class="card-text">
                                Description: <span class="user-product-info">{{this.description}}</span>
                            </p>
                            <p class="card-text">
                                Price: <span class="user-product-info">{{this.price}} EUR</span>
                            </p>
                            <div class="text-center">
                                <a class="btn btn-success your-product-button" href="/user/edit-product/{{this.id}}">Edit Product</a>
                                <form action="/user/delete-product/{{this.id}}" method="post">
                                    <button class="btn btn-success your-product-button" type="submit"> Delete Product</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</main>